<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tutoring</title>        
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
   <link rel="stylesheet" href="../static/css/homepage.css"
</head>
<body>
    <div class="banner">
<div class="nav">
    <img src="logo.png"class="logo">

    <ul>
     

        <li><a href="\">Create a new account</a> 
            <div class="accounts">
            <ul>
                <li><a href="student-register.html"> Student</a></li>
                <li><a href="tutor-register.html">Tutor</a></li>
            </ul>
        </div>
    </li> 
       <li><a href=>Login as a</a>
        <div class="accounts">
            <ul>
                <li><a href="student-login.html"> Student</a></li>
                <li><a href="tutor-login.html">Tutor</a></li>
            </ul>
        </div>
    
    </li> 
       <li><a href="#">Contact us</a></li>
       


    </ul>
</div>